<mat-card>
    <mat-list>
        <mat-card-header>
            <mat-card-title>
                <h1>Workshops</h1>
            </mat-card-title>
        </mat-card-header>    

        <mat-card *ngFor="let workshop of workshops$ | async" style="background-color: #4D4D4D;">
            <mat-card-header>
                <mat-card-title>{{workshop.title}}</mat-card-title>
                <mat-card-subtitle>{{workshop.location}}</mat-card-subtitle>
                <mat-card-subtitle>{{workshop.date| date:'M/dd/YY, h:mm a'}}</mat-card-subtitle>
            </mat-card-header>

            <p></p>

            <mat-card-content>
                {{workshop.description}}
            </mat-card-content>

            <p *ngIf="adminPermission$ | async"></p>

            <mat-card-actions>
                <button mat-raised-button type="button" (click)="registerUser(workshop.id)">Register</button>
                <button mat-raised-button *ngIf="adminPermission$ | async" type="button" (click)="deleteWorkshop(workshop.id)">Delete</button>
            </mat-card-actions>
        </mat-card>
    </mat-list>
</mat-card>
